* {box-sizing: border-box;}
html, body {
    margin: 0;
    padding: 0;
}
.navbar {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}
.navbar .navbar-brand {
    margin-left: 5%;
    font-size: 30px;
    font-family: "Open Sans", sans-serif;
}
.body-container {
    margin-top: 7%;
    margin-bottom: 3%;
}
